on post-fs-data
    # UART
    chmod 0660 /dev/ttyMT2
    chown system system /dev/ttyMT2

    chmod 0660 /dev/ttyMT1
    chown system system /dev/ttyMT1

    chown bluetooth bluetooth /dev/ttyGS2
    chmod 0660 /dev/ttyGS2

    # GPS
    mkdir /data/vendor/gps 0770 gps system
    mkdir /data/vendor/log 0770 gps system
    mkdir /data/vendor/log/gps 0770 gps system

    chmod 660 /dev/gps_emi

    # Wi-Fi
    mkdir /data/misc/wifi 0770 wifi wifi
    mkdir /data/misc/wifi/sockets 0770 wifi wifi
    mkdir /data/misc/wpa_supplicant 0770 wifi wifi
    mkdir /data/vendor/wifi 0770 wifi wifi
    mkdir /data/vendor/wifi/wpa 0770 wifi wifi
    mkdir /data/vendor/wifi/wpa/sockets 0770 wifi wifi

on boot
    # Bluetooth
    mkdir /data/vendor/bluedroid 02770 bluetooth bluetooth

service mnld /vendor/bin/mnld
    class main
    user gps
    group system gps inet misc sdcard_rw sdcard_r media_rw radio wakelock
    socket mnld stream 660 gps system

service wpa_supplicant /vendor/bin/hw/wpa_supplicant \
    -g@android:wpa_wlan0
    interface android.hardware.wifi.supplicant@1.0::ISupplicant default
    interface android.hardware.wifi.supplicant@1.1::ISupplicant default
    interface android.hardware.wifi.supplicant@1.2::ISupplicant default
    socket wpa_wlan0 dgram 660 wifi wifi
    class main
    disabled

service macaddr /vendor/bin/mac_addr_normalization
    class late_start
    user root
    group root bluetooth wifi system
    oneshot

service gpsdaemon /vendor/bin/gpsdaemon
    class main
    user root
    group system inet root wakelock
    oneshot
